body{
	text-align: center;
	background: rgb(98, 243, 243);
}
h1, h2{
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	border-bottom: 5px solid black;
}
ul{
	list-style: none;
	clear: left;
    padding: 0;
}
#div1{
	width:35%;
	margin:0 auto;
}
#div2{
	width:15%;
	margin:0 auto;
}