

h1{
	color:#EB54A0 ;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2{
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: -1px 0 #EB54A0, 0 1px #EB54A0, 1px 0 #EB54A0, 0 -1px #EB54A0;
}
img{
	border: 10px solid #EB54A0;
	border-radius: 50%;
}
p, ul{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
ul{
	list-style: none;
	clear: left;
    padding: 0;
    font-weight: bold;
}
span{
	font-weight: bolder;
	font-family:Impact, Charcoal, sans-serif;
}
div{
	width:40%;
	padding:0;
	margin:0 auto;
	background: rgba(56, 176, 209, 0.5);
	border-radius: 25%;
	border: 12px solid #38B0D1;
}
body{
	text-align: center;
	background: url("https://tctechcrunch2011.files.wordpress.com/2015/01/goldglitter.jpg")
}
p,h3{
	font-weight: bold;
}
h3{
	font-family:Impact, Charcoal, sans-serif;
}